<% @user ||= current_user %>
<div class="<%= current_user == @user ? 'col-md-4' : 'col-md-3' %> text-center">
    <p class="follow-heading">Tweets</p>
    <p class="stat" id="posts-count"><%= @user.posts.count %></p>
</div>
<div class="<%= current_user == @user ? 'col-md-4' : 'col-md-3' %> text-center">

    <p class="follow-heading">Followers</p>
    <%= link_to @user.followers.count, followers_user_path(id: @user.username),class: "stat", id: "followers", remote: true %>

</div>
<div class="<%= current_user == @user ? 'col-md-4' : 'col-md-3' %> text-center">
  <p class="follow-heading">Following</p>
  <a href="<%= following_user_path(@user) %>">
    <%= link_to @user.following.count, following_user_path(id: @user.username),class: "stat", id: "following", remote: true %>
  </a>
</div>
<div class="<%= current_user == @user ? 'col-md-4' : 'col-md-3' %> text-center">
  <%= render('pages/follow_form') %>
</div>
