<div class="container">
  <div class="row mt-3">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="row user-info">
            <%= render('pages/user_info') %>
          </div>
          <!-- <div class="row my-3 stats">
            <render("pages/stats") >
          </div> -->
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          Trends
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-body" style="padding: 0.2rem;">
          <div class="row my-3 stats">
            <%= render("pages/stats") %>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar.variant(resize: "50x50!"), class: "rounded-circle" %>
              <% else %>
                <img src="/bg.jpg" height="50" width="50" class="rounded-circle">
              <% end %>
            </div>
            <div class="col-md-10 no-padding">
              <%= render 'pages/form' %>
            </div>
          </div>
        </div>
      </div>
      <div id="all-posts">
        <%= render @posts %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5>People you may know</h5>
          <hr>
          <div class="row">

            <% @users.each do |u| %>
              <div class="col-md-6 mt-2">
                <% if u != current_user %>
                  <%= u.username %>
                <% end %>
              </div>
              <div class="col-md-6 mt-2">
                  <% @user = u || current_user %>
                  <%= render "pages/follow_form" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
