<div class="card mb-3 post-card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <% if post.user.avatar.attached? %>
          <%= image_tag post.user.avatar.variant(resize: "50x50!"), class: "rounded-circle" %>
        <% else %>
          <img src="/bg.jpg" height="50" width="50" class="rounded-circle">
        <% end %>
      </div>
      <div class="col-md-10 text-left no-padding">
        <p class="post-title"><a href="/user/<%= User.find(post.user_id).username %>" class="post-username"><%= User.find(post.user_id).username %></a><span class="post-date"><%= post.created_at.to_formatted_s(:short) %></span></b></p>
        <p class="post-content"><%= post.content %></p>
      </div>
      <div class="col-md-10 offset-md-2 no-padding mt-2">
        <span class="far fa-heart"></span>
        <span class="far fa-comment"></span>
      </div>
    </div>
  </div>
</div>
